
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:ital,wght@0,400;0,600;0,900;1,400&display=swap');
@import url('./glyphs/learningful-glyphs.css');

:root {
  /* defaults to black but will be programmatically changed */
  --col-accent: #000000;

  --col-title: #1d262d;
  --col-input-placeholder: #c3cddd;
  --col-border: #e9eff4;

  --col-disabled: #f6f9fa;

  --col-captcha-title: #ff2B4c;
  --col-captcha-verify-border-disabled: #dadde0;
  --col-captcha-verify-text: #258aff;
  --col-captcha-verify-border: rgba(37, 138, 255, 0.5);

  --col-captcha-red    : #f92d7b;
  --col-captcha-yellow : #ffd71b;
  --col-captcha-cyan   : #1ddfff;
  --col-captcha-magenta: #ed5Fe0;

  --col-help-center-left: #3E4D86;
  --col-help-center-list-title: #B0C8FF;
  --col-help-center-list-item: #3E4D86;
  --col-help-center-list-item-new: #FF61F3;
  --col-help-center-list-item-edit: #388DFF;
  --col-help-center-topic-title: #1d262d;

  --col-help-center-feedback-form-color: #F0F5FF;
  --col-help-center-feedback-form-text: #BEC1DB;

  --col-help-center-navigator-up: #388DFF;
  --col-help-center-navigator-down: #00D377;

  --col-upload-get-started-left : #f84242;
  --col-upload-right-container : #cdcdcd;
  --col-upload-right-container-ul-li-background : #8890A7;
  --col-upload-right-container-ul-li-color : #AAB4D1;
  --col-upload-right-container-ul-li-focus-background : #10D2FF;
  --col-upload-right-container-ul-li-focus-color : white;

  --col-upload-title : #FFFFFF;
  --col-upload-subtitle : #000000;

  --start-btn-background : #CE4738;
  --start-btn-color : #FFFFFF;

  --col-title : #1D262D;
  --col-title-span : #10D2FF;
  --col-subtitle : #1D262D;

  --col-control-div : #C3CDDD;

  --next-step-btn : #C3CDDD;

  --col-text-form-border : #E9EFF4;
  --col-text-form-color : #10D2FF;
  --col-text-form-placeholder : #C3CDDD;

  --col-error-text : red;

  --col-preview-container-border : black;
  --col-preview-container-boxshadow : #aab4d1;
  --col-preview-title : #10D2FF;

  --col-del-link : #10D2FF;
  --grade-level-btn : #C3CDDD;
  --grade-level-btn-selected : #10D2FF;
}
